doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Los oportunistas y las inescrupulosas
    meta(name="viewport",content="width=device-width")
    style.
      .q {font-style:italic; text-indent: 0px; margin-block-start: 1.3em}
      .m {font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      .l {font-weight:bold; font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      body {max-width: 740px; margin-left:auto; margin-right:auto; padding:2em; font-family: Montserrat, Roboto, Universal, Arial, sans-serif; border-left:0.5px solid #CCC}
      p {text-align: justify; text-indent:2em; font-size:120%; line-height:1.4em}
      .subtitulo {font-size:80%; font-weight:bold; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      .bajada {font-size:60%; font-weight:normal; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      h1 {text-align: center}
      h2 {margin-block-start: 1.7em}
    </head>
  body

  h1#reglamento.
    #[span.m Los oportunistas y las inescrupulosas]. 
    #[.subtitulo Qué la mentira le explote a otro.]
    #[.bajada Juego de cartas de supervivencia laboral.]
  
  h2#intro Introducción

  p.
    #[span.l Oportunistas e inescrupulosos] trabajan todos en la misma organización,
    no comparten lo que saben, se cayan, se mienten y son irresponsables. 
    Les han encomendado la preparación de un #[span.m informe] 
    sobre algún resultado económico de la organización.
    Pero a ellos no les importa no es la precisión del informe; 
    lo que quieren es dar buenas noticias, aunque haya que exagerar un poco.
    Y se van a cuidar como sea para que nadie los descubra. 
    
  p.
    Cada jugador va a ir mejorando el #[span.m informe] dando un resultado más alto, 
    pero en algún momento la exageración será insostenible. 
    En ese momento un mentiroso o un traidor se habrá descubierto y perderá su credibilidad.
    Los que pierdan toda su credibilidad serán echados de la organización. 

  h2#mecanica Mecánica del juego

  p. 
    Se reparten 4 cartas a cada jugador. Esa es la información que cada jugador conoce
    (y que no va a compartir con el resto). 

  p. 
    El jugador que es #[span.m mano] es el que declara el primer #[span.m informe].
    por ejemplo dice #[span.m hay 4 oros]. Eso significa que él calcula que entre 
    las cartas qué el tiene y las que tienen los demás habrá 4 cartas de oros ó más. 

  p. 
    El jugador a su derecha puede acusar a su predecedor de mentiroso diciendo #[span.m ¡miente!].
    O puede declarar un #[span.m informe] mayor, por ejemplo #[span.m hay 6 oros].

  p. 
    Así cada jugador sigue tiene las mismas dos opciones, desconfiar del anterior o aumentar.
    El palo se puede cambiar todas las veces que se quiera y el número siempre tiene que crecer.
    Por ejemplo puede decir #[span.m hay 7 copas].

  p.
    Cuando un jugador acusa #[span.m ¡miente!] la mano se termina, todos los jugadores muestran 
    sus cartas y se verifica si el informe es cierto (si hay 7 copas o más, en el ejemplo) 
    o si es exagerado (si no hay 7 copas, si hay menos). 
    El que acusa pierde credibilidad si el informe era cierto. 
    Si no era cierto el que pierde credibilidad es el que dijo #[span.m hay 7 copas].

  p.
    Se empieza una nueva mano pero ahora el jugador que perdió recibirá una carta menos. 

  p. 
    La credibilidad nunca se recupera. En cada mano cada jugador recibe la misma cantidad 
    de cartas que la mano anterior o menos (si perdió). 

  p.
    El que se queda sin credibilidad sale del partido.

  p.
    Gana cuando queda un solo jugador. 

  h2#preparacion Preparación

  p.
    Se utilizan uno o dos mazos de cartas cualquiera 
    #[small (española, francesa, de Uno o cualquiera que tenga 3, 4 ó 5 palos o colores)]. 

  p.
    Se acuerda una cantidad de cartas inicial que representa la credibilidad de cada jugador. 
    Se recomienda repartir 4 cartas a cada jugador. 
    #[small (si juegan 4 jugadores o menos se puede empezar con 5 para hacer el juego más largo, si juegan 7 ó más conviene empezar con 3 porque si no se hace muy largo)]

  h2#las-cartas Las cartas

  p.
    Solo importan los palos. Los números no importan. Los comodines (si hay) no corresponden a ningún palo.

  h2#fin Fin del juego

  p.
    El juego termina cuando solo queda un jugador con credibilidad 
    porque todos los demás perdieron toda su credibilidad. 

  p.
    Si la moraleja no se entendió se puede volver a empezar otro partido desde el principio 
    con la credibilidad inicial para todos. 

  hr

  h2#faq Preguntas frecuentes

  p.q#q-el-mano ¿Quién empieza? ¿para qué lado se reparte?

  p.a.
    Se sortea el que reparte, ese da cartas empezando con el de su derecha que será el mano.
    El jugador que es mano es el primero en dar el informe. 
    En la siguiente mano pasa a ser mano el que está a la derecha del que fue antes.

  p.q#q-la-mano-el-mano Me confundí ¿la mano y el mano son cosas distintas?

  p.a.
    Sí, en todos los juegos de cartas se habla de la mano a una parte del juego 
    empieza repartiendo cartas y, que en este caso termina cuando alguien desconfía. 
    Se llama el mano al jugador que en una mano es el primero en jugar 
    (en este juego dar su informe).
  
  p.q#q-pasa-la-mano ¿Qué pasa si el que le toca dar pierde? ¿quién da?

  p.a.
    Si el que le hubiera tocado dar pierde y sale del juego 
    (porque ya no le quedan cartas para recibir), vuelve a reparitir 
    el jugador que repartió la mano anterior. Esto es así para no saltear 
    al jugador que le tocaría ser mano. 
  
  p.q#q-sumar ¿Hay que ir subiendo de a uno o se puede subir de a más?

  p.a.
    Sí, se puede subir de el número que se quiera. Pero siempre hay que subir. 

  p.q#q-mostrar ¿Puedo no mostrar mis cartas o mostrar solo algunas?

  p.a.
    No. En el momento que alguien acusa #[span.m ¡miente!] se inicia una auditoría. 
    Hay que mostrar todas las cartas sí o sí, las del palo y las que no son del palo. 

  p.q#q-estrategia ¿Hay una estrategia invencible?

  p.a.
    No. El que es mano (el que habla primero) es el que tiene más poder.
    Puede contar cuántas cartas hay en las manos de todos (imaginemos 16). 
    Hay en promedio 4 de cada palo. Podría haber 3 ó 5, o con menos probabilidad 2 ó 6
    y todavía menos probable 1 ó 7. Si arranca diciendo #[span 2 oros] y 
    cada uno aumenta un oro el de su derecha dice 3 oros, el de enfrente 4 oros y 
    el de la izquierda dice 5 oros. Él ahora debe decir 6 oros o acusar al de la izquierda 
    de que no hay 5 oros; desconfiar parece muy riesgoso porque podría haber,
    y decir 6 oros también parece riesgoso, porque el otro seguro que no va a querer decir 7. 
    Entonces conviene empezar con el promedio o casi, en este caso 3 ó 4. 

  p.a.
    Mirar las cartas también sirve, no solo es la credibilidad sino también la información 
    de qué hay. 

  p.q#q-antescedentes ¿El juego está testeado? ¿es entretenido? ¿cuáles son sus antecedentes?

  p.a.
    El juego está basado en un juego con datos que se llama "Blef". 
    Lo juegan en el barco pirata en la película Piratas del Caribe II. 
    El juego está testeado, es dinámico y fácil de aprender. 

  h1#end ⧟