doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Oportunistas - Juego de cartas de supervivencia laboral
    meta(name="viewport",content="width=device-width")
    style.
      .q {font-style:italic; text-indent: 0px; margin-block-start: 1.3em}
      .m {font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      .l {font-weight:bold; font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      body {max-width: 740px; margin-left:auto; margin-right:auto; padding:2em; font-family: Montserrat, Roboto, Universal, Arial, sans-serif; border-left:0.5px solid #CCC}
      p {text-align: justify; text-indent:2em; font-size:120%; line-height:1.4em}
      ol {text-align: justify; text-indent:0.2em; font-size:120%; line-height:1.4em; padding-inline-start: 4em;}
      .subtitulo {font-size:80%; font-weight:bold; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      .bajada {font-size:60%; font-weight:normal; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      h1 {text-align: center}
      h2 {margin-block-start: 1.7em}
  body

    h1#reglamento.
      #[span.m Oportunistas]. 
      #[.subtitulo Qué la mentira le explote a otro.]
      #[.bajada Juego de cartas de supervivencia laboral.]
    
    h2#intro Introducción
  
    p.
      #[span.l Los oportunistas] trabajan todos en la misma organización,
      no comparten lo que saben, se callan, se mienten y son inescrupulosos. 
      Les han encomendado la preparación de un #[span.m informe] 
      sobre algún resultado económico de la organización.
      Pero a ellos no les importa la precisión del informe; 
      lo que quieren es dar buenas noticias, aunque haya que exagerar un poco.
      Y se van a cuidar mucho de que nadie los descubra. 
      
    p.
      Cada jugador, a su turno, va a ir mejorando el #[span.m informe] dando un resultado más alto, 
      pero en algún momento la exageración será insostenible. 
      Así uno de los jugadores decidirá traicionar y acusará al anterior de mentiroso. 
      Si la acusación es cierta, el mentiroso perderá su credibilidad.
      Si el jugador anterior había dicho la verdad, el acusador pierde su credibilidad. 
      Los que pierdan toda su credibilidad serán echados de la organización. 
  
    h2#mecanica Mecánica del juego
  
    p. 
      Se reparten 4 cartas a cada jugador. Esa es la información que cada jugador conoce
      (y que no va a compartir con el resto). 
  
    p. 
      El jugador que empieza es el que declara una cantidad y un palo (lo que desee). 
      Por ejemplo, dice #[span.m hay 4 oros]. Eso significa que él afirma que entre 
      las cartas que él tiene y las que tienen los demás jugadores habrá 4 cartas de oros ó más. 
  
    p.
      A su turno cada jugador puede:
    ol
      li decir un número más grande que el ya dicho y un palo cualquiera (por ejemplo, #[span.m hay 6 copas]) o
      li decir #[span.m ¡miente!].
  
    p.
      Cuando un jugador acusa #[span.m ¡miente!] la ronda se termina, todos los jugadores muestran 
      sus cartas y se verifica la veracidad de lo dicho por el último jugador.
      O sea, si entre todos los jugadores la cantidad de cartas del palo dicho es mayor o igual, pierde el que acusó. 
      Si la cantidad de cartas es menor de lo dicho, pierdo el otro por mentiroso.
  
    p.
      Se empieza una nueva ronda. El jugador que perdió recibirá una carta menos. 
  
    p. 
      La credibilidad nunca se recupera. En cada ronda cada jugador recibe la misma cantidad 
      de cartas que la ronda anterior o una menos si acaba de perder. 
  
    p.
      El que se queda sin credibilidad sale del partido.
  
    h2#fin Fin del juego
  
    p.
      El juego termina cuando solo queda un jugador con credibilidad 
      porque todos los demás perdieron toda su credibilidad. 
  
    p.
      #[span.m Si la moraleja no se entendió se puede volver a empezar otro partido desde el principio con la credibilidad inicial para todos].
  
    h2#preparacion Preparación
  
    p.
      Se utilizan uno o dos mazos de cartas cualquiera 
      #[small (española, francesa, de Uno o cualquiera que tenga 3, 4 ó 5 palos o colores; la idea es que haya entre 20 ó 25 cartas en la primera ronda, no más)]. 
  
    p.
      Se acuerda una cantidad de cartas inicial que representa la credibilidad de cada jugador. 
      Se recomienda repartir 4 cartas a cada jugador. 
      #[small (si juegan 4 jugadores o menos se puede empezar con 5 para hacer el juego más largo, si juegan 7 ó más conviene empezar con 3 porque si no se hace muy largo)]
  
    h2#las-cartas Las cartas
  
    p.
      Solo importan los palos. Los números no importan. Los comodines (si hay) no corresponden a ningún palo.
  
    hr
  
    h2#faq Preguntas frecuentes
  
    p.q#q-hablar ¿Se puede hablar durante el partido? ¿qué se pedee decir y qué no?
  
    p.a.
      Se puede decir cualquier cosa. Los jugadores pueden hablar en todo momento,
      tratar de influir en las decisiones de otros, decir que en la mano tienen tal o cuál cantidad de cartas,
      recordar que el otro es mentiroso, o no; sugerir estrategias, recordarle cosas; hablar de política o religión.
      Lo que sea. 
  
    p.a.segundo.
      Pero se juega de buena fe. Eso significa que el jugador que le toca jugar
      se le toman como jugadas válidas los sinónimos. O sea tiene permitido decir
      #[span.m 5 espadas] en lugar de #[hay 5 espadas], 
      también puede decir #[span.m ¡desconfío!] o #[span.m a ver] en vez de acusar #[span.m ¡miente!].
      También tirar las cartas boca arriba sobre la mesa equivalen a acusar.    
  
    p.q#q-el-primero ¿Quién empieza? ¿para qué lado se reparte?
  
    p.a.
      Se sortea quién será el jugador que va a empezar (el primero que tiene que hablar).
      El que está a su izquierda reparte las cartas empezando con el de su derecha (el primero).
      En la siguiente ronda empieza el que estaba a la derecha del que empezó en la anterior.
    
    p.q#q-reparte-2-veces ¿Qué pasa si el que le toca dar pierde? ¿quién da?
  
    p.a.
      No se reparte por turnos. Lo que tiene turnos es ser el primero de la ronda.
      Entonces a veces pasa que un jugador tiene que repartir dos veces. 
      Esto ocurre cuando el que era primero tenía una sola carta y pierde.
    
    p.q#q-sumar ¿Hay que ir subiendo de a uno o se puede subir de a más?
  
    p.a.
      Sí, se puede subir la cantidad que se quiera. Pero siempre hay que subir. 
  
    p.q#q-mostrar ¿Puedo no mostrar mis cartas o mostrar solo algunas?
  
    p.a.
      No. En el momento que alguien acusa #[span.m ¡miente!] se inicia una auditoría. 
      Hay que mostrar todas las cartas sí o sí, las del palo y las que no son del palo. 
  
    p.q#q-de-a-2 ¿Se puede jugar de a dos?
  
    p.a.
      Sí, quizás no sea tan divertido, pero se puede. 
  
    p.q#q-maximos-jugadores ¿Se puede jugar con cualquier cantidad de personas?
  
    p.a.
      Sí, el tema es que quede sin repartir una buena cantidad de cartas (digamos el 40%). 
      Entonces con más de 6 jugadores deben usarse dos mazos o repartir menos de 4 cartas. 
      El otro tema es la longitud del juego. 
      La cantidad de rondas es igual a la cantidad de cartas que se repartió inicialmente.
      Lo ideal es que no sean más de 25 rondas. 
      Eso haría parecer que más de 12 jugadores puede hacerlo muy largo. 
  
    p.q#q-antescedentes ¿El juego está testeado? ¿es entretenido? ¿cuáles son sus antecedentes?
  
    p.a.
      El juego está basado en un juego con datos que se llama "Blef". 
      Lo juegan en el barco pirata en la película Piratas del Caribe II. 
      El juego está testeado, es dinámico y fácil de aprender. 
  
    p.q#q-desconfio ¿Se parece este juego al desconfío?
  
    p.a.
      Solo un poco. En que la ronda se termina con #[span.m ¡desconfío!].
      La diferencia más importante es que en el desconfío, lo actuado antes no vale nada;
      solo importa la última carta que se tiró, es o no es del palo esperado. 
      En #[span.l los oportunistas] hay más para deducir, hay que tener en cuenta
      cuál es la probabilidad pura (en función de las cartas que no se ve) 
      y las posibilidades y conveniencias según lo que cada jugador haya declarado.
  
    p.q#q-estrategia ¿Hay una estrategia invencible?
  
    p.a.
      No. El que empieza es el que tiene más poder.
      Puede contar cuántas cartas hay en las manos de todos (imaginemos 16). 
      Hay en promedio 4 de cada palo. Podría haber 3 ó 5, o con menos probabilidad 2 ó 6
      y todavía menos probable 1 ó 7. Si arranca diciendo #[span.m 2 oros] y 
      cada uno aumenta un oro el de su derecha dice 3 oros, el de enfrente 4 oros y 
      el de la izquierda dice 5 oros. Él ahora debe decir 6 oros o acusar al de la izquierda 
      de que no hay 5 oros; desconfiar parece muy riesgoso porque podría haber,
      y decir 6 oros también parece riesgoso, porque el otro seguro que no va a querer decir 7. 
      Entonces conviene empezar con el promedio o casi, en este caso 3 ó 4. 
  
    p.a.segundo.
      Mirar las cartas también sirve, no solo es la credibilidad sino también la información 
      de qué hay. 
  
    p.q#q-mano ¿Qué significa mano?
  
    p.a.
      En esta descripción del juego hablamos de cartas en la #[span.m mano], de las que tienen los jugadores
      en determinado momento. Usamos ronda en vez de #[a.m(href="https://dle.rae.es/mano#MHzj6JU", title="Según la RAE: Lance entero de algunos juegos.") mano]
      cuando hablamos de las partes del juego entre que se reparte y se define el perdedor. 
      Y decimos el primero en vez de #[a.m(href="https://dle.rae.es/mano#MHzzsYN", title="Según la RAE: En ciertos juegos, persona a quien en cada momento le corresponde jugar en primer lugar.") mano] 
      para referirnos al jugador que empieza cada ronda.

    h1#end ⧟