doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Los oportunistas y las inescrupulosas
    meta(name="viewport",content="width=device-width")
    style.
      .q {font-style:italic; text-indent: 0px; margin-block-start: 1.3em}
      .m {font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      .l {font-weight:bold; font-style:italic; font-family: Confiteria, Bookman Old Style, Times New Roman, serif}
      body {max-width: 740px; margin-left:auto; margin-right:auto; padding:2em; font-family: Montserrat, Roboto, Universal, Arial, sans-serif; border-left:0.5px solid #CCC}
      p {text-align: justify; text-indent:2em; font-size:120%; line-height:1.4em}
      .subtitulo {font-size:80%; font-weight:bold; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      .bajada {font-size:60%; font-weight:normal; font-family: Electric Cable, Roboto, Universal, Arial, sans-serif;}
      h1 {text-align: center}
      h2 {margin-block-start: 1.7em}
    </head>
  body

  h1#reglamento.
    #[span.m Los oportunistas y las inescrupulosas]. 
    #[.subtitulo Qué la mentira le explote a otro.]
    #[.bajada Juego de cartas de supervivencia laboral.]
  
  h2#intro Introducción

  p.
    #[span.m Oportunistas e inescrupulosos], trabajan todos en la misma organización,
    no comparten lo que saben, se cayan, se mienten y son irresponsables. 
    Entre todos tienen que definir la conclusión de un #[span.m informe].
    Lo que les importa no es la precisión del resultado; lo que quieren es salvarse y 
    que nadie los descubra. 
    
  p.
    Cada uno necesita mejorar la conclusión, pero en algún momento la exageración será insostenible. 
    Al final un mentiroso o un traidor se habrá descubierto y perderá su credibilida 
    hasta ser echado de la organización. Así hasta que quede un ganador. 

  p.
    El #[span.m informe] indica cuántas cartas hay, al menos, de cierto palo en las manos de los jugadores. 
    #[span.m 4 oros] significa que en las manos de todos los jugadores hay 4 cartas de oro o más. 
    A su turno cada jugador emitirá un informe mejor: #[span.m 5 oros], #[span.m 7 espadas], #[span.m 8 oros],
    #[span.m ¡miente!].

  h2#preparacion Preparación

  p.
    Se utilizan uno o dos mazos de cartas cualquiera 
    #[small (española, francesa, de Uno o cualquiera que tenga 3, 4 ó 5 palos o colores)]. 

  p.
    Se acuerda una cantidad de cartas inicial que representa la credibilidad de cada jugador. 
    Se recomienda repartir 4 cartas a cada jugador. 
    #[small (si juegan 4 jugadores o menos se puede empezar con 5 para hacer el juego más largo, si juegan 7 ó más conviene empezar con 3 porque si no se hace muy largo)]

  p.
    Las manos subsiguientes los jugadores irán individualmente perdiendo credibilidad
    (cuando son descubiertos mintiendo o cuando acusaron injustamente a otro) y 
    recibirán una carta menos en las rondas subsiguientes. 

  h2#las-cartas Las cartas

  p.
    Solo importan los palos. Los números no importan. Los comodines (si hay) no corresponden a ningún palo.

  h2#mecanica Mecánica del juego

  p.
    Se reparten las cartas a cada jugador de acuerdo a su credibilidad
    (4 en la primera mano o la cantidad con la que se haya acordado empezar).

  p.
    El que es mano da un #[span.m informe] diciendo en voz alta un número y un palo. 
    Por ejemplo #[span.m 4 oros]

  p.
    El que está a su lado tiene dos opciones, gritar #[span.m ¡miente!] 
    o dice su #[span.m informe], que puede ser o no del mismo palo pero cuyo número debe ser mayor.
    Por ejemplo #[span.m 6 copas]. 

  p.
    La mano termina cuando un jugador dice #[span.m ¡miente!]. Todos los jugadores muestran sus cartas.
    Si había tantas cartas (o más) del palo informado el que dijo #[span.m ¡miente!] pierde credibilidad.
    Si había menos cartas de ese palo, el que informó exageró y por eso pierde credibilidad. 
    El jugador que perdió credibilidad recibirá una carta menos que en la mano anterior, 
    en todas las manos desde ahí. 

  p.
    El que está a la derecha del que fue mano será el nuevo mano, 
    y el que está a su izqueirda reparte las cartas nuevamente respetando la credibilidad de cada uno.

  p.
    La credibilidad se pierde pero no se recupera una vez que un jugador empieza a recibir 3 cartas
    no se le vuelven a repartir 4. Si vuelve a perder recibirá 2 y luego 1. 

  p.
    El jugador que pierde credibilidad se va del juego. 


  h2#fin Fin del juego

  p.
    El juego termina cuando solo queda un jugador con credibilidad 
    porque todos los demás perdieron toda su credibilidad. 

  p.
    Si la moraleja no se entendió se puede volver a empezar otro partido desde el principio 
    con la credibilidad inicial para todos. 

  hr

  h2#faq Preguntas frecuentes

  p.q#q-antescedentes ¿El juego está testeado? ¿es entretenido? ¿cuáles son sus antecedentes?

  p.a.
    El juego está basado en un juego con datos que se llama "Blef". 
    Lo juegan en el barco pirata en la película Piratas del Caribe II. 
    El juego está testeado, es dinámico y fácil de aprender. 

  p.q#q-sumar ¿Hay que ir subiendo de a uno o se puede subir de a más?

  p.a.
    Sí, se puede subir de el número que se quiera. Pero siempre hay que subir. 

  p.q#q-mostrar ¿Puedo no mostrar mis cartas o mostrar solo algunas?

  p.a.
    No. En el momento que alguien acusa #[span.m ¡miente!] se inicia una auditoría. 
    Hay que mostrar todas las cartas sí o sí, las del palo y las que no son del palo. 

  p.q#q-estrategia ¿Hay una estrategia invencible?

  p.a.
    No. El que es mano (el que habla primero) es el que tiene más poder.
    Puede contar cuántas cartas hay en las manos de todos (imaginemos 16). 
    Hay en promedio 4 de cada palo. Podría haber 3 ó 5, o con menos probabilidad 2 ó 6
    y todavía menos probable 1 ó 7. Si arranca diciendo #[span 2 oros] y 
    cada uno aumenta un oro el de su derecha dice 3 oros, el de enfrente 4 oros y 
    el de la izquierda dice 5 oros. Él ahora debe decir 6 oros o acusar al de la izquierda 
    de que no hay 5 oros; desconfiar parece muy riesgoso porque podría haber,
    y decir 6 oros también parece riesgoso, porque el otro seguro que no va a querer decir 7. 
    Entonces conviene empezar con el promedio o casi, en este caso 3 ó 4. 

  p.a.
    Mirar las cartas también sirve, no solo es la credibilidad sino también la información 
    de qué hay. 

  h1#end ⧟